<main>
  <h1 class='text-center'>Hello world</h1>
  <h2>Hello </h2>
  <h3>Beer</h3>
  <hr />
  <div class='display-1'>Hello world</div>
  <div class='display-5'>Hello world</div>
  <div class='display-6'>Hello world</div>
  <hr />

  <div class='display-5 text-muted text-end'>
    Some text</div>
  <hr />
  <button class='btn btn-primary'>
    <span class='text-uppercase'>Push the button</span></button>
  <hr />
  <button class='btn btn-secondary btn-lg'>Add</button>
  <button
    class='btn btn-outline-secondary btn-sm'
  >Add</button>
  <button class='btn btn-outline-warning'>Add</button>
  <hr />
  <div class='card card-body'>
    This is content
  </div>
  <br />
  <hr />
  <br />
  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-secondary btn-lg'>Add</button>
      <button
        class='btn btn-outline-secondary btn-sm'
      >Add</button>
      <button class='btn btn-outline-warning'>Add</button>
    </div>
  </div>
  <hr />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class='card text-bg-dark'>
    <img
      class='card-img-top'
      src='https://picsum.photos/200/100'
      alt='photo'
    />
    <div class='card-body'>
      <h5 class='card-title text-bg-primary'>Product 12345</h5>
      <p class='text-bg-secondary'>Some text
        <br />About product</p>
      <a
        href='/car'
        class='btn btn-primary'
        target='_blanc'
      >Open</a>
    </div>
  </div>
  <br />
  <hr />
  <div class='card'>
    <div class='card-header'>
      <div>Menu</div>
    </div>

    <ul class='list-group'>
      <li class='list-group-item'>
        <a
          href='/bio'
          class='btn btn-link'
          target='_blanc'
        >Hom page</a>
      </li>
      <li class='list-group-item'>
        <a
          href='/bio'
          class='btn btn-link'
          target='_blanc'
        >Hom page1</a>
      </li>
      <li class='list-group-item'>
        <a
          href='/bio'
          class='btn btn-link'
          target='_blanc'
        >Hom page2</a>
      </li>
    </ul>

    <div class='card-footer'>
      <button class='btn btn-dark btn-sm'>Update list</button>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <table class='table table-bordered text-bg-success'>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>1</th>
        <td>Kolya</td>
        <td>45</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Vasya</td>
        <td>56</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class='card text-bg-success'>
    <div class='card-header text-center'>Title</div>
    <div class='card-body'>
      <h6 class='card-title'>Title of my content</h6>
      <p>Some interesting content</p>
    </div>
    <div class='card-footer text-center'>Some footer</div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class='row gx-6 gy-3'>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Title</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>Title of my content</h6>
          <p>Some content</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Some footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Title</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>Title of my content</h6>
          <p>Some content</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Some footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Title</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>Title of my content</h6>
          <p>Some content</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Some footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Title</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>Title of my content</h6>
          <p>Some content</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Some footer</div>
      </div>
    </div>
    <div class='col-4'>
      <div class='card text-bg-success'>
        <div class='card-header text-center'>Title</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>Title of my content</h6>
          <p>Some content</p>
          <button class='btn btn-light'>Click!</button>
        </div>
        <div class='card-footer text-center'>Some footer</div>
      </div>
    </div>
  </div>
</main>