<main>
  <h1 class='text-center'>Hello world</h1>
  <h2>Hello </h2>
  <h3>Beer</h3>
  <hr />
  <div class='display-1'>Hello world</div>
  <div class='display-5'>Hello world</div>
  <div class='display-6'>Hello world</div>
  <hr />

  <div class='display-5 text-muted text-end'>
    Some text</div>
  <hr />
  <button class='btn btn-primary'>
    <span class='text-uppercase'>Push the button</span></button>
  <hr />
  <button class='btn btn-secondary btn-lg'>Add</button>
  <button
    class='btn btn-outline-secondary btn-sm'
  >Add</button>
  <button class='btn btn-outline-warning'>Add</button>
  <hr />
  <div class='card card-body'>
    This is content
  </div>
  <br />
      <span class='text-uppercase'>Push the button</span></button>
      <span class='text-lowercase'>Push the button</span></button>
      <span class='text-capitalize'>Push the button</span></button>
  <hr />
  <br />
  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-secondary btn-lg'>Add</button>
      <button
        class='btn btn-outline-secondary btn-sm'
      >Add</button>
      <button class='btn btn-outline-warning'>Add</button>
    </div>
  </div>
</main>