<main class='m-5'>
  <p>Resume project- це проект, що являє собою навчальну
    практичну роботу.</p>
  <ul>
    <p>Основні її цілі:</p>
    <li>Практично засвоїти основи мови HTML;</li>
    <li>Навчитися застосовувати шаблонізатор Handlebars;</li>
    <li>Та розібратися, як користуватися бібліотекою
      Bootstrap.</li>
  </ul>
  <p>Проект складається з безлічі сторінок, що версталися з
    використанням Handlebars, Bootstrap та дотриманням
    семантики.</p>
  <p>Нижче посилання на дані сторінки, у вигляді кнопок.</p>

  <section class='row'>
    <div class='col-3'>
      <div class='card p-2'>
        <a
          href='/person'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Person
        </a>
        <a
          href='/js'
          class='btn btn-success mb-2'
          target='_blank'
        >
          JS
        </a>
        <a
          href='/task21'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Task 21
        </a>
        <a
          href='/shoporder'
          class='btn btn-success'
          target='_blank'
        >
          Shoporder
        </a>
      </div>
    </div>

    <div class='col-3'>
      <div class='card p-2'>
        <a
          href='/bio'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Bio
        </a>
        <a
          href='/car'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Car
        </a>
        <a
          href='/task22'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Task 22
        </a>
        <a
          href='/shopcart'
          class='btn btn-success'
          target='_blank'
        >
          Shopcart
        </a>
      </div>
    </div>

    <div class='col-3'>
      <div class='card p-2'>
        <a
          href='/program'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Program
        </a>
        <a
          href='/mac'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Mac
        </a>
        <a
          href='/task31'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Task 31
        </a>
        <a
          href='/shopreview'
          class='btn btn-success'
          target='_blank'
        >
          Shopreview
        </a>
      </div>
    </div>

    <div class='col-3'>
      <div class='card p-2'>
        <a
          href='/web'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Web
        </a>
        <a
          href='/facebook'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Facebook
        </a>
        <a
          href='/shophome'
          class='btn btn-success mb-2'
          target='_blank'
        >
          Shopehome
        </a>
        <a
          href='/shopcatalog'
          class='btn btn-success'
          target='_blank'
        >
          Shopcatalog
        </a>
      </div>
    </div>

    <div class='mt-4'>
      <p>Також ось посилання на проект в системі Git.</p>
    </div>

    <div class='col-3'>
      <div class='card p-2'>
        <a
          href='https://github.com/AleksandrPetruk91/Resume'
          class='btn btn-dark'
          target='_blank'
        >
          <i class='fa-brands fa-github'></i>
        </a>
      </div>
    </div>

  </section>
</main>